@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

body{
    font-family: 'Ubuntu',sans-serif,'Times New Roman', Times, serif;
    background: linear-gradient(45deg,#292929e7 );
}

h1{
    font-size: 50px;
    color: rgb(212, 212, 212);
}

button{
    background-color: rgba(34, 34, 34, 0.621);
    color: white;
    font-size: 35px;
    /* border: 2px solid #282828; */
    border-radius: 16px;
    width: 85px;
    height: 65px;
    margin: 5px;
    box-shadow: 0 0 10px rgb(25, 24, 24);
}
/* 
button:hover{
    background-color: #5d5d5d;
} */

.equal-btn{
    background-color: rgb(96, 157, 142);
}

input{
    font-size: 30px;
    border: 4px solid rgb(90, 90, 90);
    height: 57px;
    border-radius: 16px;
    background-color: rgb(188, 181, 171);

}

.calc-container{
    margin-top: 50px;
    text-align: center;
    
}

table{
    margin: auto;
    padding-top: 15px;
}

.calc{
    display: inline-block;
    /* border: 2px solid black; */
    padding: 30px;
    background-color: rgba(52, 52, 52, 0.874);
    border-radius: 16px;
    box-shadow: 0 0 20px rgb(25, 24, 24);
}

.operator{
    color: rgb(112, 217, 74);
}
.clr{
    color: rgb(238, 72, 72);
}